/* roboto-mono-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/roboto-mono-v13-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/roboto-mono-v13-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/roboto-mono-v13-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/roboto-mono-v13-latin_cyrillic-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/roboto-mono-v13-latin_cyrillic-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/roboto-mono-v13-latin_cyrillic-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/roboto-mono-v13-latin_cyrillic-700italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/roboto-mono-v13-latin_cyrillic-700italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-size: 16px;
}

.title {
  font-weight: 700;
  text-align: center;
}

.title__header {
  font-size: 24px;
}

.title__video {
  font-size: 21px;
}

.plyr-container {
  width: 800px;
  height: auto;
  margin: 0 auto;
}
