@import url(./normalize.css);
@import url(./plyr.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #00b3ff;
}

/* !!! begin */

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}

span.btn {
  display: inline-block;
}

.btn {
  white-space: nowrap;
  padding: 5px;
  border: none;
  margin: 0;
  overflow: visible;
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.btn__before,
.btn__after {
  /* margin: 10px 0; */
  background-color: coral;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  /* box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.25); */
  color: #fff;
}

.btn-container {
  margin: 10px 0;
  /* border: #00b3ff 1px solid; */
  background-color: coral;
}

.title {
  font-weight: 700;
  text-align: center;
}

.title__header {
  font-size: 24px;
}

.title__video {
  font-size: 21px;
}

.plyr-container {
  width: 800px;
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgba(34, 60, 80, 0.25);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.25);
}

.plyr__video-embed {
  padding-bottom: 10px;
}
