@import url(./normalize.css);
@import url(./plyr.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #00b3ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}

span.btn {
  display: inline-block;
}

.btn {
  white-space: nowrap;
  padding: 5px;
  border: none;
  margin: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.btn__before,
.btn__after {
  background-color: coral;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  /* box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.25); */
  color: #fff;
}

.title {
  font-weight: 700;
  text-align: center;
}

.title__header {
  font-size: 24px;
}

.title__video {
  font-size: 21px;
}

.plyr-container {
  width: 800px;
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgba(34, 60, 80, 0.25);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.25);
}

.plyr__video-embed {
  padding-bottom: 10px;
}

.setup-fragment {
  padding-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.btn__fragment {
  padding-left: 10px;
  padding-right: 10px;
}

.btn__play-setup-fragment {
  margin-right: 10px;
}
.btn__add-setup-fragment {
  margin-left: 10px;
}

.fragment-container {
  display: flex;
  height: 38px;
}

.fragment-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background-color: coral;
}

.current-fragment {
  visibility: hidden;
  position: absolute;
  width: 2px;
  height: 38px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.1s;
}
.current-fragment.current-visible {
  visibility: visible;
}

.btn__del-fragment {
  margin-left: auto;
  margin-bottom: 10px;
}

.btn__play-fragment {
  margin-right: 0;
  margin-bottom: 10px;
  font-weight: 700;
}
